<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4-audio</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92cnVoZnJua2xhaWR6c3pxb2xmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkwNjIyMjksImV4cCI6MjA3NDYzODIyOX0.xuKFtrgodbZsvPxS1kBhJtRfX8U4ZCt_NkawUo45NeM</string>
	<key>SUPABASE_URL</key>
	<string>https://ovruhfrnklaidzszqolf.supabase.co</string>
</dict>
</plist>
